<ActionBar title="Home">
</ActionBar>
<RadSideDrawer #drawerComponent>
    <template drawerSide>
        <ScrollView class="drawer-content">
            <StackLayout horizzontalAlign="left">
                <drawer-content [drawerComponent]="drawerComponent"></drawer-content>
            </StackLayout>
        </ScrollView>
    </template>
    <template drawerMain>
        <StackLayout padding="30">
            <label class="fa" text="" fontsize="30"></label>
            <label class="fa" text="\uf299" fontsize="30"></label>
        </StackLayout>
    </template>
</RadSideDrawer>
<drawer-content></drawer-content>
